@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Merriweather:ital,wght@0,300;0,400;1,300&display=swap');
/* Bebas Neue font */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* *************************
  global css
************************** */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
}
.text-orange{
  color: #ffc61a;
}
a, a:hover{
  list-style: none;
  text-decoration: none;;
}
h1,h2,h3,h4,h5,h6,p,ul,li,a,input,button{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body{
  color: #ffffff;
  font-family: 'Castoro Titling', cursive;
}

/* *************************
  header
************************** */

header{
  background: url(../img/header-bg.jpg);
  padding: 100 0;
  background-repeat: no-repeat;
  height: 738px;

}
.logo{
  width: 100px;
  height: 30px;
  margin-top: 45px;
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
  color: #1b1b1b !important;
  background-color: #ffc61a;
  border-radius: 20px;
  font-weight: bold;
  padding: 4px 15px;
  margin: 2px 0px;
  text-transform: uppercase;
  margin-top: 38px;
}
.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
  color: #ffffff !important;
  padding: 5px 25px;
  margin: 0px 5px;
  font-weight: bold;
  font-size: 17px;
  text-transform: uppercase;
  margin-top: 38px;
}
.navbar-nav .nav-link:hover{
background-color: #ffc61a;
color: #1b1b1b !important;
border-radius: 20px;
font-weight: bold;
}

/* *************************
  header === header-info
************************** */

.header-info{
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 89px;
}
.header-info h1{
  margin-top: 17px;
  font-size: 72px;
  font-size: 900;
  color: #ffffff;
}
.header-info h3{
  margin-top: 23px;
  font-size: 35px;
}
.header-info p{
  margin-top: 24px;
  font-size: 20px;
  letter-spacing: 10px;
}
.img-header{
  margin-top: 20px;
}
/* *************************
  end header
************************** */


/* *************************
  start cab
************************** */
.cab{
  background-color: #ffc61a;
  
}
.cab-left{
  margin: 100px;
  padding-top: 100px;
}
.cab-left h4{
 text-transform: uppercase;
 color: #1b1b1b;
 font-weight: bold;
 font-size: 25px;
}
.cab-left h2{
  text-transform: uppercase;
  color: #1b1b1b;
  font-weight: bold;
  font-size: 40px;
  margin-top: 10px;
}
.cab-left h3{
 text-transform: uppercase;
 color: #1b1b1b;
 font-weight: bold;
 font-size: 40px;
 margin-top: 10px
}
.cab-left p{
  font-size: 14px;
  margin-top: 29px;
}
.main-button{
  margin-bottom: 20px;
}
.btn-1{
  background-color: #1b1b1b;
  color: #ffffff;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  margin-top: 60px;
  margin-bottom: 30px;
  font-family: 'Bebas Neue',news;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.btn-2{
  background-color: #e52828;
  color: #ffffff;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  margin-top: 60px;
  margin-bottom: 15px;
  font-family: 'Bebas Neue',news;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.btn-1:hover{
  background-color: #1b1b1b;
  color: #ffc61a;
  text-decoration: none;
}
.cab-right .btn-1{
  display: flex;
  justify-content: center;
  align-items: center;
}
.cab-right{
  margin-top: 210px;
  width: 300px;
  background-color: #ffffff;
}
.book-cab{
  background-color: #1b1b1b;
  color: #ffffff;
  padding: 5px 35px;
  margin: 0;
  font-size: 34px;
}
.book-cab span{
  color: #ffc61a;
}
/* .form{
  margin: 20px;
} */
.cab-right input{
  width: 42%;
  display: inline-block;
  margin: 3px;
  border: none;
  border-bottom: 3px solid #e4e4e4;
  color: #000000;
  border-radius: 0;
  box-shadow: none;
}
.cab .cab-right select{
  border: none;
  border-bottom: 3px solid #e4e4e4;
  border-radius: 0;
  margin-top: 10px;
}
.cab .cab-right input:focus{
  border-color: #ffc61a;
  box-shadow: none;
  color: #000000;
}

/* *************************
  end cab
************************** */


/* *************************
  start card
************************** */
.main-card h2{
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  margin-top: 3px;
  font-weight: bold;
  margin-bottom: 80px;
}
.main-card h3{
  text-transform: uppercase;
  color: #ffc61a;
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}
.card{
  border: none;
  border-radius: 0;
  box-shadow: none;
  margin-top: 40px;
  position: relative;
 
}
.card img{
  margin-top: -80px;
}
.star-img{
  position: absolute;
  right: 0;
  bottom: -13px;
}
.card-body h2{
  font-size: 25px;
  color: #000000;
  font-weight: bold;
}
.card-body p{
  font-size: 14px;
  color: #1b1b1b;
  text-align: center;
  margin-top: -40px;
}
.card-body h1{
  font-size: 35px;
  color: #ffc61a;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}
.card-button{
  background-color: #ffc61a;
  color: #000000;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  margin-top: 50px;
  font-family: 'Bebas Neue',news;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: auto;
  display: flex;
  text-align: center;

}
/* *************************
  end card
/* *************************

  
/* *************************
  start content
************************** */
  .content{
    background-image: url(../img/content-background.jpg);
    padding-top: 50px;
    
  }
  .main-content h1{
    font-size: 30PX;
    text-transform: uppercase;
    color: #e4e4e4;
    text-align: center;
    font-weight: bold;
  }
  .main-content h2{
    font-size: 24px;
    text-transform: uppercase;
    color: #ffc61a;
    text-align: center;
    font-weight: bold;
  }
  .content-left{
    margin-top: 50px;
    margin-bottom: 100px;
  }
  .content-right{
    margin-top: 50px;
    margin-bottom: 100px;
  }
  .content-img{
    position: absolute;
    max-width: 50px;
    margin-top: 28px;
  }
  .content-text{
    margin-bottom: 20px;
    margin-left: 75px;
    position: relative;
  }
  .content-text p{
    color: #e4e4e4;
  }
  .content-text h3{
    color: #ffc61a;
    text-transform: uppercase;
    font-size: 25px;
  }
 .btn-2{
  background-color: #ffc61a;
  color: #000000;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  margin-top: 50px;
  font-family: 'Bebas Neue',news;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 200px;
  margin: auto;
  display: block;
  text-align: center;
  justify-content: center;
 }

/* *************************
  end content
************************** */

/* *************************
  start download-service
************************** */
   .download-main{
    text-align: center;
    margin-top: 70px;
   }
   .download-main h3{
    font-size: 24px;
    text-transform: uppercase;
    color: #ffc61a;
    text-align: center;
    font-weight: bold;
   }
   .download-main h2{
    font-size: 30PX;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
    font-weight: bold;
   }
   .download-content{
    margin-top: 105px;
   }
   .download-content p{
    font-weight: bold;
    font-size: 17px;
   }
   .download-content h4{
    font-size: 12px;
   }
  .download-img{
    margin-top: 85px;
  }
  .download-icon1{
    position: absolute;
    margin-top: 100px;
  }
  .download-icon2{
    position: relative;
    margin-left: 236px;
    margin-top: 110px;
  }

/* *************************
  end download-service
************************** */

/* *************************
  start-testimonial
************************** */
.main-testimonial{
  background-image: url(../img/testi-back-img.jpg);

}
.head-testimonial{
  text-align: center;
  margin-top: 70px;
  margin-bottom: 100px;
}
.head-testimonial h3{
  font-size: 24px;
  text-transform: uppercase;
  color: #ffc61a;
  text-align: center;
  font-weight: bold;
}
.head-testimonial h2{
  font-size: 30PX;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}
.test-img{
  position: absolute;
  margin-right: 20px;
  
}
.test-para{
  position: relative;
  margin-left: -230px;
  margin-top: 30px;

}
.testimonial-left p{
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
}

.testimonial-left{
  margin-bottom: 130px;
  padding: 20px;
  background-color: #000000;
  border-radius: 20px;
  margin-top: 100px;
}
.testimonial-right {
 margin-bottom: 130px;
 padding: 20px;
 background-color: #000000;
 border-radius: 20px;
 margin-top: 100px;
}
.testimonial-right p{
 color: #ffffff;
 font-size: 13px;
 font-weight: bold;

}
.test-para h3{
  font-size: 15px;
  text-transform: uppercase;
  color: #ffc61a;
  text-align: center;
  font-weight: bold;
}
.test-para h4{
  font-size: 13px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}

/* *************************
  end-testimonial
************************** */

/* *************************
  start-call-service
************************** */
.main-call-service{
  text-align: center;
  background-color: #ffc61a;
  padding-top: 50px;
  padding-bottom: 50px;
}
.head-cll-service h1{
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 60px;
}
.head-cll-service h3{
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
}
/* *************************
  end-call-service
************************** */

/* *************************
  start-contact-information
************************** */
.contact-main{
  background-image: url(../img/footer-back-img.png);
 background-size: cover;
}
.contact-head {
 padding-top: 50px;
 margin-bottom: 50px;
}
.contact-head h3{
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  font-size: 21px;
}
.contact-head p{
  color: #ffffff;
  font-size: 12px;
}
.line{
  background-color: #ffc61a;
  width: 200px;
  height: 4px;
  margin: 20px 0;
}
.contact-icon .fa-brands{
  color: #ffffff;
  margin: 5px;
}
.play h5{
  position: absolute;
  color: #ffc61a;
  margin-right: 100px;
  margin-left: 32px;
  font-size: 12px;
  margin-top: 5px;
}
.stor .fa-brands{
  position: relative;
  color: #ffffff;
}
.contact-name h4{
  position: absolute;
  color: #ffffff;
  margin-left: 50px;
  margin-bottom: 25px;
  font-size: 12px;
}
.contact-icon .fa-solid{
  position: relative;
  margin-bottom: 35px;
  color: #ffffff;
}
.Copyright{
  text-align: center;
  color: #ffffff;
  margin-bottom: 25px;
  
}

/* *************************
  end-contact-information
************************** */


.sticky{
  background-color: rgb(0, 0, 0);
  box-shadow: 0 0 2px 2px rgb(131, 128, 128);
  /* border-radius: 15px; */
  /* position: fixed;
  top: 0;
  left: 0;
  right: 0; */
}












